/*
** ToonHQ.org Clone -- Master CSS
** Developed by @gaarb
**/

/* Stock Styles */

body { background: #252830; }

/* Class Styles */

.navbar { margin-top: 3em; }
  .navbar-dark { background: #434857; }
  .navbar .navbar-brand { color: #eee; transition: ease .2s; font-family: 'Roboto', cursive; font-weight: 500; }
    .navbar .navbar-brand:hover { transition: ease .2s; }
.dhr { background: #434857; }
.shdr { font-family: 'Roboto', cursive; padding: 15px; width: 100%; border-bottom: 1px solid #434857; text-align: center; height: 10px; }
  .shdr .text { font-size: 1.25em; background: #252830; padding: 0 .5em 0 .5em; color: #eee; }
.status { margin-top: 2em; }
  .status .card { width: 75%; margin: 0 auto; background: 0; border: 1px solid #434857; }
    .status .card .card-title { color: #eee; text-align: center; font-family: 'Roboto', cursive; font-weight: 300; }
  .status .status-wheel { text-align: center; position: relative; display: table; width: 45%; height: 0; padding: 20% 0; border-radius: 50%; background: #ddd; margin: 0 auto; line-height: .1em; }
    .status .online { background: #1bc98e; }
    .status .offline { background: #e64759; }
    .status .status-wheel .status-text { font-size: 1.25em; color: #eee; font-family: 'Roboto', cursive; @shadow: rgba(0, 0, 0, .1); @shadow-length: 4px; text-shadow: 0 @shadow-length 0 @shadow; }
.invasions { margin-top: 2em; }
  .invasions .card { width: 100%; margin: 0 auto; background: 0; border: 1px solid #434857; padding: .5em; margin-bottom: 1em; }
    .invasions .cog-img { width: 25%; }

/* ID Styles */

#logo { -webkit-transition: text-shadow .15s linear; transition: text-shadow .15s linear; font-family: 'Carter One', cursive; text-align: left; padding: 15px; color: #fff; font-size: 2em; }
  #logo:hover { -webkit-transition: text-shadow .15s linear; transition: text-shadow .15s linear; text-shadow: 0px 0px 10px #fff; cursor: pointer; }
